.logo{
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sidebar {
  background-color: $backgroundBarSite;
  width: 250px;
  height: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper-content {
  padding-left: 250px;
}

.social {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
}

.social a {
  font-size: 28px;
  margin: 0 3px;
  color: rgb(62,60,61);
  transition-duration: 0.3s;
}

.endereco {
  padding-left: 10px;
  padding-right: 10px;
  color: $textosMenu;
  font-size: 11px;
  text-align: center;
}

.publicidade{
  margin-bottom: 15px;
  border-bottom: $backgroundBarSite solid 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.conteudo-home{
  border:rgb(202,202,202) solid 5px;
  padding: 20px;
}

.banner{
  height: 100px;
  overflow: hidden;

  img{
    width: 100%;
  }
}

.pesquisa{
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 25px;

  h4{
    color: $colorMenu;
    text-align: center;
  }
}

.btn-informacoes{
  margin-top: 40px;
}

// blocos agencia
.box-agencia-home{
  border-bottom: #ccc solid 1px;
  padding-top: 15px;
  padding-bottom: 15px;

  .img-agencia{
    height: 119px;
    overflow: hidden;
  }

  .cidade-agencia{
    margin-bottom: 0px;
    font-style: italic;
    font-size: 16px;
  }

  .desc-agencia{
    padding: 15px 0;
  }

  h3{
    margin-top: 0px;
    color: #333;
  }
}

.box-agencia-home:last-child{
  border-bottom: transparent solid 1px;
}

.tabela-site{
  margin-top: 30px;
}

.tab-content{
  padding-top: 25px;
  padding-bottom: 25px;
}

// menu
.menu-lateral {

  .menu-site {
    width: 100%;
  }

  .navbar-nav>li {
    float: none;
    width: 100%;
    text-align: center;
  }

  .navbar-nav>li>a{
    color: $colorMenu;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    transition-duration: 0.4s;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus,
  .navbar-nav>li.active>a {
    color: $colorMenu;
    background-color: $backgroundMenuHomer !important;
  }
}

// menu interno das agências
.caixa-servico{
  margin-top: 30px;
}

.barra-menu-interno{
  background-color: $backgroundBarSite;
  padding-left: 20px;
  padding-right: 20px;

  .nav-tabs {
    border-bottom: 1px solid $backgroundBarSite;
  }

  .nav-tabs > li > a{
    color: $colorMenu;
    text-transform: uppercase;
    border-radius: 0px !important;
    transition-duration: 0.4s;
  }

  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus{
    border-color: $backgroundBarSite;
    color: $colorMenu;
    background-color: $backgroundMenuHomer !important;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover{
    border-color: $backgroundBarSite;
    color: $colorMenu;
    background-color: $backgroundMenuHomer !important;
  }
}
