
$backgroundBarSite: rgb(241,64,54);
$backgroundMenuHomer: rgb(60,60,60);
$colorMenu: rgb(255,255,255);
$textosMenu: #fff;

$backgroundBoxAgencia: rgb(248,248,248);

$tituloBoxAgencia: rgb(10,186,184);
